WCF_Task_1_Exersise_2/TestClientMvcApp/TestClientMvcApp/Service References/HttpServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TestServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TestServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOpenings">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Openings" nillable="true" type="tns:Openings" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOpenings" nillable="true" type="tns:ArrayOfOpenings" />
  <xs:complexType name="Openings">
    <xs:sequence>
      <xs:element minOccurs="0" name="JobRole" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobTitle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Openings" nillable="true" type="tns:Openings" />
</xs:schema>